:root {
  /* fonts */
  --font-fredoka-one: "Fredoka One";
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 15px;
  --font-size-base: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 30px;
  --font-size-2xl: 37px;
  --font-size-3xl: 50px;
  --font-size-4xl: 60px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-blue-100: #3300ff;
  --color-blue-200: #0f00ff;
  --color-blue-300: #0000ff;
  --color-indigo-100: #007bff;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #9db0f5;
  --color-gray-300: rgba(0, 0, 0, 0.07);
  --color-gray-400: rgba(255, 255, 255, 0.56);
  --color-gray-500: rgba(157, 176, 245, 0.75);
  --color-violet-100: #5482fb;
  --color-violet-200: rgba(84, 130, 251, 0.35);
  --color-turquoise: #87dde7;

  /* border radiuses */
  --br-sm: 25px;
  --br-md: 50px;
}
