@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.alexandr-gerdt-sed6kceyvme-uns-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1027px;
  object-fit: cover;
}
.login-page-child {
  position: absolute;
  top: calc(50% - 431px);
  left: calc(50% - 645px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  box-shadow: 0 0 26px 10px rgba(108, 99, 255, 0.08);
  border: 5px solid var(--color-violet-200);
  box-sizing: border-box;
  width: 1258px;
  height: 863px;
}
.form-login-container-backgroun-item,
.main-container-item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: overlay;
}
.main-container-item {
  width: 51%;
  right: 49%;
  border-radius: var(--br-md) 0 0 var(--br-md);
  background-color: var(--color-white);
  opacity: 0.75;
}
.form-login-container-backgroun-item {
  width: 100%;
  right: 0;
  border-radius: 0 var(--br-md) var(--br-md) 0;
  background-color: var(--color-gray-400);
}
.form-header3,
.login {
  position: absolute;
  width: 100%;
  left: 0;
}
.login {
  height: 100%;
  top: 0;
  display: inline-block;
}
.form-header3 {
  height: 40.11%;
  top: 59.89%;
  right: 0;
  bottom: 0;
}
.wetstone1 {
  width: 100%;
  left: 0;
  display: inline-block;
}
.form-header2,
.title1,
.wetstone1 {
  position: absolute;
  top: 0;
}
.title1 {
  text-decoration: none;
  height: 40.11%;
  width: 100%;
  right: 0;
  bottom: 59.89%;
  left: 0;
  cursor: pointer;
  opacity: 1;
  font-size: var(--font-size-4xl);
  color: inherit;
}
.title1.animate {
  animation: 3s ease-in-out 0s infinite normal none scale-down-center;
}
.form-header2 {
  height: 26.8%;
  width: 73.99%;
  right: 12.73%;
  bottom: 73.2%;
  left: 13.28%;
}
.breakline-inner,
.line-div {
  position: absolute;
  height: 12.5%;
  width: 41.54%;
  top: 52.08%;
  right: 58.74%;
  bottom: 35.42%;
  left: -0.28%;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
}
.line-div {
  width: 39.47%;
  right: -0.28%;
  left: 60.81%;
}
.other1 {
  position: absolute;
  height: 100%;
  width: 15.6%;
  top: 0;
  left: 43.23%;
  font-size: var(--font-size-base);
  font-family: var(--font-fredoka-one);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.breakline1 {
  position: absolute;
  height: 5.49%;
  width: 98.15%;
  top: 94.51%;
  right: 1.85%;
  bottom: 0;
  left: 0;
}
.sign-up-text2,
.sign-up-text3 {
  position: absolute;
  height: 100%;
  width: 66.28%;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  font-family: var(--font-fredoka-one);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.sign-up-text3 {
  text-decoration: none;
  width: 31.98%;
  left: 68.02%;
  color: var(--color-blue-100);
  cursor: pointer;
}
.login-button3,
.signup-redirect1 {
  position: absolute;
  height: 5.49%;
  width: 63.47%;
  top: 85.58%;
  right: 17.9%;
  bottom: 8.92%;
  left: 18.63%;
}
.login-button3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-blue-100);
}
.log-in {
  position: absolute;
  height: 65.08%;
  width: 45.3%;
  top: 17.46%;
  left: 28.38%;
  font-size: var(--font-size-xl);
  font-family: var(--font-fredoka-one);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.login-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 14.42%;
  width: 98.15%;
  top: 67.73%;
  right: 1.66%;
  bottom: 17.85%;
  left: 0.18%;
  opacity: 1;
}
.login-button2.animate {
  animation: 2s ease-in-out 0s 1 normal forwards shadow-drop-bottom;
}
.by-signing-up1 {
  position: absolute;
  height: 6.86%;
  width: 94.83%;
  top: 57.44%;
  left: 1.66%;
  font-size: var(--font-size-base);
  font-family: var(--font-fredoka-one);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.password-input-item {
  border: 3px solid var(--color-indigo-100);
  background-color: var(--color-gray-200);
  position: absolute;
  height: 68.97%;
  width: 99.26%;
  top: 0;
  right: 0.74%;
  bottom: 31.03%;
  left: 0;
  border-radius: var(--br-sm);
  box-sizing: border-box;
}
.password-input-item:active {
  background-color: var(--color-gray-500);
  cursor: pointer;
}
.forgot-password1 {
  text-decoration: none;
  position: absolute;
  height: 17.24%;
  width: 28.07%;
  top: 82.76%;
  left: 71.93%;
  font-size: var(--font-size-sm);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-blue-200);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.forgot-password1:active {
  color: var(--color-blue-300);
}
.email-input1,
.password-input1 {
  position: absolute;
  height: 26.54%;
  width: 99.26%;
  top: 28.15%;
  right: 0;
  bottom: 45.31%;
  left: 0.74%;
}
.email-input1 {
  border: 0;
  background-color: transparent;
  height: 18.31%;
  width: 98.15%;
  top: 0;
  right: 1.11%;
  bottom: 81.69%;
  cursor: text;
}
.email-input1:active {
  opacity: 0.7;
}
.email-input1:focus {
  cursor: pointer;
  opacity: 0.7;
}
.user-auths1 {
  position: absolute;
  height: 64.36%;
  width: 100%;
  top: 35.64%;
  right: 0;
  bottom: 0;
  left: 0;
}
.form-login-container1 {
  position: absolute;
  height: 78.68%;
  width: 88.13%;
  top: 7.88%;
  right: 6.18%;
  bottom: 13.44%;
  left: 5.69%;
  mix-blend-mode: normal;
}
.form-login-container-backgroun1,
.main-container1 {
  position: absolute;
  height: 100%;
  width: 49%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 51%;
}
.main-container1 {
  height: 84.28%;
  width: 87.15%;
  top: 7.91%;
  right: 7.43%;
  bottom: 7.81%;
  left: 5.42%;
}
.login-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-fredoka-one);
}
